<app-navbar></app-navbar>

<div class="Titulos">
    <span></span>
    <h3>Usuarios</h3>
</div>
<section class="mt-5">
  <!-----Titulo-->
  <div class="display">
      <!---Contenedores de Blog-->
      <div class="contenedores" *ngFor="let userA of user">
          <!--Caja Uno-->
          <div class="CajaDeInfo">
            <div  class="ImagenInfo" style="width: 18rem;">
                <div class="card-body" style="margin-left: auto; margin-right: auto;">
                  <h5 class="card-title">  Nombre: {{userA.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">  Nombre de usuario: {{userA.username}}</h6>
                  <p class="card-subtitle mb-2 text-muted">  Teléfono: {{userA.phone}}</p>
                  <p class="card-subtitle mb-2 text-muted">  role: {{userA.role}}</p>
                  <button (click)="getUserId(userA._id)" data-bs-toggle="modal"class="btn btn-secondary" data-bs-target="#updateModal">Editar usuario</button>
                  <button (click)="deleteUserA(userA._id)" class="btn btn-secondary">Eliminar usuario</button>
                </div>
              </div>
            </div>
      </div>

  </div>
</section>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Actualizar Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form *ngIf="userUpdate"  >
            <div class="mb-3">
              <label for="name" class="form-label">Nombre:</label>
              <input [(ngModel)]="this.userUpdate.name" name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de usuario:</label>
                <input [(ngModel)]="this.userUpdate.username" name="username" type="text" class="form-control" id="username">
              </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input [(ngModel)]="this.userUpdate.email" name="email" type="text" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Teléfono:</label>
                <input [(ngModel)]="this.userUpdate.phone" name="phone" type="text" class="form-control" id="phone">
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button (click)="updateuserAdmin()"  data-bs-dismiss="modal" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>