<app-navbar></app-navbar>
<div class="Titulos">
    <span></span>
    <h3> Bienvenidos a Medicare</h3>
    
</div>
<section class="mt-5">
    <!-----Titulo-->
    <div class="display">
        <!---Contenedores de Blog-->
        <div class="contenedores">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">
                    <a href="#" class="TituloInfo">Té de Hierba buena</a>
                    <p>Ingredientes <br><br>
                        un té de Hierba Buena y sugerimos agregarle una cucharada de Miel de abeja para mejorar el sabor. <br>
                        <br>
                        Ayuda a: <br>  <br>
                        esto nos ayudara a reducir el estres y relajarnos
                    </p>
                    
                </div>
            </div>
        </div>
        <!---Contenedores de Blog2-->
        <div class="contenedores">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">
                    <a href="#" class="TituloInfo">Té de Hierba buena</a>
                    <p>Ingredientes <br><br>
                        un té de Hierba Buena y sugerimos agregarle una cucharada de Miel de abeja para mejorar el sabor. <br>
                        <br>
                        Ayuda a: <br>  <br>
                        esto nos ayudara a reducir el estres y relajarnos
                    </p>
                    
                </div>
            </div>
        </div>
        <!---Contenedores de Blog3-->
        <div class="contenedores">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">
                    <a href="#" class="TituloInfo">Té de Hierba buena</a>
                    <p>Ingredientes <br><br>
                        un té de Hierba Buena y sugerimos agregarle una cucharada de Miel de abeja para mejorar el sabor. <br>
                        <br>
                        Ayuda a: <br>  <br>
                        esto nos ayudara a reducir el estres y relajarnos
                    </p>
                    
                </div>
            </div>


        </div>



    </div>
</section>







