<app-navbar></app-navbar>
<div class="Titulos">
    <span></span>
    <h3>Bienvenido a Medicare</h3>
    <p>Estamos aqui para ayudar a su salud :D</p>
    <h4>Recetas populares</h4>
</div>

<section class="mt-5">
    <!-----Titulo-->
    <div class="display">
        <!---Contenedores de Blog-->
        <div *ngFor="let rec of recetas" class="contenedores">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">
                    <p>Cantidad de like/s: {{rec.like}}</p>
                    <a class="TituloInfo">Nombre de la Receta: {{rec.name}}</a>
   
                    <h5>Ingredientes: {{rec.ingredients}}</h5>
                    <h5>Descripción: {{rec.description}}</h5>
                    <h5>Preparación: {{rec.preparation}}</h5>
                        
                </div>
            </div>
        </div>
    </div>
</section>