<body>
    <br><br><br><br><br><br>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
            <h1>Register</h1>
        </div>
    
        <!-- Login Form -->
        <form (ngSubmit)="saveUser(register)" #register="ngForm">
          <span *ngIf="!name.valid && name.touched" class="requiredField">
            Required field
          </span>
          <input type="text" [(ngModel)]="user.name" id="name" #name="ngModel" class="fadeIn second" name="name" placeholder="Nombre de usuario" required>
          <span *ngIf="!username.valid && username.touched" class="requiredField">
            Required field
          </span>
          <input type="text" [(ngModel)]="user.username" id="username" #username="ngModel" class="fadeIn second" name="username" placeholder="Usuario" required>
          <span *ngIf="!phone.valid && phone.touched" class="requiredField">
            Required field
          </span>
          <input type="text" [(ngModel)]="user.phone" id="phone" #phone="ngModel" class="fadeIn second" name="phone" placeholder="Numero de usuario" required>
          <span *ngIf="!email.valid && email.touched" class="requiredField">
            Required field
          </span>
          <input type="text" [(ngModel)]="user.email" id="email" #email="ngModel" class="fadeIn second" name="email" placeholder="Email de usuario" required>
          <span *ngIf="!password.valid && password.touched" class="requiredField">
            Required field
          </span>
          <input type="password" [(ngModel)]="user.password" #password="ngModel" autocomplete="off" id="password"  class="fadeIn third" name="password" placeholder="password" required>
          <button style="--clr:#6eff3e" type="submit" class="fadeIn fourth"><span>Register</span><i></i></button>
          <button style="--clr:#6eff3e" type="submit" class="fadeIn fourth" routerLink="/login"><span>Login</span><i></i></button>
        </form>
      </div>
    </div>    
</body>