<body>
    <br><br><br><br><br><br><br><br><br>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
            <h1>Login</h1>
        </div>
    
        <!-- Login Form -->
        <form (ngSubmit)="login()" #loginForm="ngForm">
          
          <br><span *ngIf="!username.valid && username.touched" class="fadeIn second" style="color: #0576D5;">
            Required field
          </span><br>
          <input [(ngModel)]="user.username" #username="ngModel" type="text" id="username" class="fadeIn second" name="username" placeholder="Nombre de usuario" required>
          
          <br><span *ngIf="!password.valid && password.touched" class="fadeIn second" style="color: #0576D5;">
            Required field
          </span><br>
          <input [(ngModel)]="user.password" #password="ngModel" autocomplete="off" type="password" id="password" class="fadeIn third" name="password" placeholder="password" required>
          
          <button [disabled]="!loginForm.form.valid"  type="submit" class="fadeIn fourth"><span>Log In</span><i></i></button>
          <button   type="submit" class="fadeIn fourth" routerLink="/register"><span>Register</span><i></i></button>
        </form>
      </div>
    </div>        
</body>