<app-navbar></app-navbar>

<input [(ngModel)]="search"  type="search" placeholder="Buscar medicinas" id="Buscador" />

<div class="Titulos">
    <span></span>
    <h3>Medicamentos</h3>
    <button *ngIf="role == 'ADMIN'" type="button" class="btn btn-dark" data-bs-toggle="modal"
                        data-bs-target="#modalAgregar">Agregar Medicamento</button>
</div>
<section class="mt-5" >
    <!-----Titulo-->
    <div class="display">
        <!---Contenedores de Blog-->
        <div class="contenedores" *ngFor="let medicine of medicines | searchMedi: search">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">
                    <a class="TituloInfo">{{medicine.name}}</a>
                    <p>Descripción<br>
                        {{medicine.description}} <br>
                        <br>
                       Lugar de venta: <br> 
                       {{medicine.salesPlace}} <br> <br>
                        Precio: Q
                        {{medicine.averagePrice}}
                    </p>
                    <button *ngIf="role == 'ADMIN'" (click)="getMedicine(medicine._id)" type="button" class="btn btn-dark" data-bs-toggle="modal"
                        data-bs-target="#Editar">Editar</button>
                    <button *ngIf="role == 'ADMIN'" (click)="deleteMedicine(medicine._id)" type="button" class="btn btn-dark" data-bs-toggle="modal"
                        data-bs-target="#Eliminar">Eliminar</button>
                </div>
            </div>
        </div>
    
    </div>
</section>


<!---Modals-->

<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="modalAgregar" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregar"> Agregar Medicamento </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #addMedicineForm="ngForm">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre del Medicamento</label>
                    <input [(ngModel)]="medicine.name" class="form-control" name="name" id="name" class="form-control" type="text">
                    
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripcion del Medicamento:</label>
                    <input [(ngModel)]="medicine.description" class="form-control" name="description" id="description" class="form-control" type="text">
                
                </div>
                <div class="mb-3">
                    <label for="salesPlace" class="form-label">Lugares de venta:</label>
                    <input [(ngModel)]="medicine.salesPlace" class="form-control" name="salesPlace" id="salesPlace" class="form-control" type="text">
                
                </div>
                <div class="mb-3">
                    <label for="averagePrice" class="form-label">Precio promedio:</label>
                    <input [(ngModel)]="medicine.averagePrice" class="form-control" name="averagePrice" id="averagePrice" class="form-control" type="number">
                
                </div>

                </form>
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button (click)="addMedicine(addMedicineForm)" data-bs-toggle="modal" type="button" class="btn btn-dark">Guardar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="Editar" tabindex="-1" aria-labelledby="Editar" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Editar"> Editar Medicamento </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <form *ngIf="mediUpdate">
                    <div class="form-group">
                      <label for="name">Nombre</label>
                      <input [(ngModel)]="mediUpdate.name" name="name" type="text" class="form-control" id="name" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                      <label for="description">Descripción</label>
                      <input [(ngModel)]="mediUpdate.description" name="description" type="text" class="form-control" id="description" placeholder="Descripción">
                    </div>
                    <div class="form-group">
                        <label for="salesPlace">Lugar de venta:</label>
                        <input [(ngModel)]="mediUpdate.salesPlace" name="salesPlace" type="text" class="form-control" id="salesPlace" placeholder="Lugar">
                      </div>
                      <div class="form-group">
                        <label for="averagePrice">Rango de Precio:</label>
                        <input [(ngModel)]="mediUpdate.averagePrice" name="averagePrice" type="number" class="form-control" id="averagePrice" placeholder="Precio">
                      </div>
                    <div class="form-group">
                      <div class="multi-buttonA" >
                        <button (click)="updateMedicine()" class="btn btn-success m-3 "
                        data-bs-toggle="modal" >Actualizar</button>
                      </div>
                    </div>
                  </form>

            </div> 
            
        </div>  
    </div>
</div>

